<% include ../partials/header %>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <h1><%= user.firstName + " " + user.lastName %></h1>
            <img src= "<%= user.avatar %>" alt="user profile image">
            <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
        </div>
        </div>
    </div>
    <div class="col-md-8">
        <h3><%= user.username %>'s travelnotes</h3>
        <ul>
            <% travelnotes.forEach(function(travelnote) { %>
                <li><a href="/travelnotes/<%= travelnote.id %>"><%= travelnote.name %></a></li>
            <% }); %>
        </ul>
    </div>
</div>

<% include ../partials/footer %>